modules = ["flutter", "python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["flutter"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "AgroVision Web App"

[[workflows.workflow]]
name = "AgroVision Web App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python server.py"
waitForPort = 5000
